<a href="https://colab.research.google.com/github/CatedSathishkumar/data-analytics/blob/main/cheatsheet_sathish1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [2]:

import pandas as pd

# Sample DataFrame for demonstration
df = pd.DataFrame({
    'id1': [1, 1, 2, 2],
    'id2': [1, 2, 1, 2],
    'id3': [1, 2, 1, 2],
    'col': [10, 20, 30, 40]
})

# Group by and aggregate
df_agg = df.groupby(["id1", "id2", "id3"]).agg({'col': ['min', 'max']})

# Flatten MultiIndex columns if they exist
if isinstance(df_agg.columns, pd.MultiIndex):
    df_agg.columns = ['_'.join(col).strip() for col in df_agg.columns.values]

df_agg = df_agg.reset_index()

# Display the result
print(df_agg)

   id1  id2  id3  col_min  col_max
0    1    1    1       10       10
1    1    2    2       20       20
2    2    1    1       30       30
3    2    2    2       40       40

In [9]:
import pandas as pd

# Create a sample DataFrame
data = {
    'source': ['A', 'B', 'A', 'B', 'A', 'C', 'B', 'C'],
    'sent1': [10, 20, 30, 40, 50, 60, 70, 80],
    'sent2': [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5]
}

df = pd.DataFrame(data)

print(df)

df.groupby('source').agg(
    count=('sent1', 'size'),
    mean_sent1=('sent1', 'mean'),
    mean_sent2=('sent2', 'mean')
).reset_index()
df[0:10]
df.dropna()
# keep the data frame with valid entries (no "nan") in the same variable "df"
df.dropna(inplace=True)
df_new = df.dropna(axis='columns')

  source  sent1  sent2
0      A     10    1.5
1      B     20    2.5
2      A     30    3.5
3      B     40    4.5
4      A     50    5.5
5      C     60    6.5
6      B     70    7.5
7      C     80    8.5

In [10]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'col_1': [1, 2, None, 4, None],
    'col_2': ['A', 'B', 'C', 'D', 'E']
})

# Create a new DataFrame with non-null values in 'col_1'
df_new = df[df['col_1'].notnull()]

print("DataFrame with non-null values in 'col_1':")
print(df_new)

# Drop rows where 'col_1' is NaN, modify original DataFrame in place
df.dropna(subset=['col_1'], how='any', inplace=True)

print("\nOriginal DataFrame after dropping rows with NaN in 'col_1':")
print(df)

DataFrame with non-null values in 'col_1':
   col_1 col_2
0    1.0     A
1    2.0     B
3    4.0     D

Original DataFrame after dropping rows with NaN in 'col_1':
   col_1 col_2
0    1.0     A
1    2.0     B
3    4.0     D

In [11]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'col_name1': [1, 2, 2, 4, 5],
    'col_name2': ['A', 'B', 'B', 'D', 'E'],
    'col_name3': [10, 20, 20, 40, 50]
})

# Drop duplicate rows based on 'col_name1', 'col_name2', 'col_name3'
# Keeping the last occurrence of each set of duplicates
df = df.drop_duplicates(subset=['col_name1', 'col_name2', 'col_name3'], keep='last')

print(df)

   col_name1 col_name2  col_name3
0          1         A         10
2          2         B         20
3          4         D         40
4          5         E         50

In [13]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'author_name': ['Alice', 'Bob', 'Charlie'],
    'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']
})

# Iterate over each row in the DataFrame
for index, row in df.iterrows():
    curr_authorname = row['author_name']
    curr_email = row['email']

    # Print or use the variables as needed
    print(f"Author Name: {curr_authorname}, Email: {curr_email}")

Author Name: Alice, Email: alice@example.com
Author Name: Bob, Email: bob@example.com
Author Name: Charlie, Email: charlie@example.com

In [14]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'states': ['California', 'Texas', 'New York'],
    'count': [39, 29, 19]
})

# Convert columns to dictionary
dict_stats_count = dict(zip(df['states'], df['count']))

print(dict_stats_count)

{'California': 39, 'Texas': 29, 'New York': 19}

In [15]:
import pandas as pd

# List of lists
lst_pets = [['dog', 1], ['cat', 2], ['fish', 3]]

# Create DataFrame
df = pd.DataFrame(lst_pets, columns=['animal', 'amount'])

print(df)

  animal  amount
0    dog       1
1    cat       2
2   fish       3

In [16]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'animal': ['dog', 'cat', 'fish'],
    'amount': [1, 2, 3]
})

# Rename columns
df.columns = ["new_col1", "new_col2"]

print(df)

  new_col1  new_col2
0      dog         1
1      cat         2
2     fish         3

In [17]:
import pandas as pd

# Sample DataFrame with old column names
df = pd.DataFrame({
    '$a': [1, 2, 3],
    '$b': [4, 5, 6],
    '$c': [7, 8, 9],
    '$d': [10, 11, 12],
    '$e': [13, 14, 15]
})

# Old and new column names
old_names = ['$a', '$b', '$c', '$d', '$e']
new_names = ['a', 'b', 'c', 'd', 'e']

# Create a dictionary for renaming columns
rename_dict = dict(zip(old_names, new_names))

# Rename columns
df.rename(columns=rename_dict, inplace=True)

print(df)

   a  b  c   d   e
0  1  4  7  10  13
1  2  5  8  11  14
2  3  6  9  12  15

In [18]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'num_hours': [1, 2, 3, 4, 5]
})

# Define the custom function
def to_minutes(row):
    return row['num_hours'] * 60

# Create a new column using the custom function
df['newcolumn'] = df.apply(to_minutes, axis=1)

print(df)

   num_hours  newcolumn
0          1         60
1          2        120
2          3        180
3          4        240
4          5        300

In [19]:
age = 10
name = "dog"

if age == 10 and name == "dog":  # Conditional "and"
    print("10")
elif age == 1 or age == 5:  # Conditional "or"
    print("either 1 or 5")
else:
    print("else")

10

In [20]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'age': [16, 18, 20, 25, 30],
    'pet_type': ['dog', 'cat', 'fish', 'dog', 'cat']
})

# Filter rows where 'age' is either 18 or 20
df_18_20 = df[df["age"].isin([18, 20])]

# Filter rows where 'pet_type' is either "dog" or "cat"
df_dog_cat = df[df["pet_type"].isin(["dog", "cat"])]

print("Rows with age 18 or 20:")
print(df_18_20)

print("\nRows with pet_type 'dog' or 'cat':")
print(df_dog_cat)

Rows with age 18 or 20:
   age pet_type
1   18      cat
2   20     fish

Rows with pet_type 'dog' or 'cat':
   age pet_type
0   16      dog
1   18      cat
3   25      dog
4   30      cat

In [21]:
str_message = 'Life will be truly wonderful on a wonderful planet.'

# Find the index of the first occurrence of 'wonderful' from the left
index_find = str_message.find('wonderful')
print(index_find)  # Output: 19

# Find the index of the first occurrence of 'wonderful' from the right
index_rfind = str_message.rfind('wonderful')
print(index_rfind)  # Output: 34

# Find the index of the first occurrence of 'wonder'
index_find_wonder = str_message.find('wonder')
print(index_find_wonder)  # Output: 19

# Find the index of 'wonder' starting from index 20
index_find_wonder_after_20 = str_message.find('wonder', 20)
print(index_find_wonder_after_20)  # Output: 34

19
34
19
34