<a href="https://colab.research.google.com/github/CatedSathishkumar/data-analytics/blob/main/cheet_sheet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [2]:
with open("new_csv_file.txt","w") as f:
  f.write("a new file is been created")

In [3]:
lst_names = []
# list with some string values in it
lst_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
lst_cities.append("NYC")
# list with some integer values
lst_age = [10, 20]
# append an integer to the existing list
lst_age.append(30)
# iterate each value in a list
for val in lst_cities:
 print(val)
# check if a value exists in a list
if "SFO" in lst_cities:
 print("yes")
else:
 print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [4]:
lst_animals = ['dog','cat','elephant','lion']
print (lst_animals)

['dog', 'cat', 'elephant', 'lion']

In [5]:
lst_animals.append('Horse')
lst_animals.append('Cow')
for val in lst_animals:
    print(val)

dog
cat
elephant
lion
Horse
Cow

In [6]:
# empty set
set_names = ()
# Set with some string values in it
set_cities ={"Bangalore", "Chennai", "SFO", "Beijing"}
# list with some integer values
set_age = [10, 20]
print(set_cities)
print(set_age)

{'Bangalore', 'Beijing', 'Chennai', 'SFO'}
[10, 20]

In [7]:
set_names = set("dog")
print(set_names)

{'g', 'o', 'd'}

In [8]:
string_set = {"apple", "banana", "orange"}
string_set.add("apple")
print(string_set)
print("banana" in string_set)  # Output: True

# Iterate over the elements of the set
for fruit in string_set:
    print(fruit)

{'apple', 'banana', 'orange'}
True
apple
banana
orange

In [10]:
string_set.add('mango')
print(string_set)
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2  # {1, 2, 3, 4, 5}
intersection_set = set1 & set2  # {3}
difference_set = set1 - set2  # {1, 2}
symmetric_difference_set = set1 ^ set2
print(union_set,intersection_set)

{'mango', 'apple', 'banana', 'orange'}
{1, 2, 3, 4, 5} {3}

In [11]:
print(type(set1))
print(type(string_set))

<class 'set'>
<class 'set'>